/* .App {
  text-align: center;
} */




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  display:flex;
  justify-content: space-around;
}
.btn1{
  margin-right: 10px;
}
.listContainer{
  display:flex;
  justify-content: space-around;
  font-size: calc(10px + 0.5vmin);
}
.Footer{
  position:absolute;
  bottom: 8px;
  left: 16px;
  font-size: calc(10px + 1vmin);
  align-items: center;
  
}




.book {
  display: none;
}

.furniture {
  display: none;
}

.dvd {
  display: none;
}

.product_form{
  display:flex;
  flex-direction:column;
  width:60vw;
  height:70vh;
  justify-content:space-evenly;
  font-size: 18px;
  margin-left:10vw;
  align-items: stretch;
  
  }
  .title{
    margin-left:10vw;
  }

  .card{
    margin:5px;
    display: flex;
    /* flex-direction:row; */
    /* min-width: px; */
    font-size: 14px;
   
  }
  .holder{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width:175px;
   
  }
  .list{
    display: flex;
    flex-direction:row;
    margin:30px;
    min-width: 200px;
    max-width: 1400pxs;
    flex-wrap: wrap;
    align-content: space-around;
  }
 